.auth-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.auth-banner-container {
    display: none;
}

.auth-form-container {
    width: 100%;
}

@media (min-width: 576px) {
    .auth-form-container {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .auth-form-container {
        width: 550px;
    }
}

@media (min-width: 1200px) {
    .auth-banner-container {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        width: 400px;
    }

    .auth-container {
        padding: 40px;
    }

    .auth-banner-container h1 {
        font-size: 60px;
        color: #343a40;
        margin-bottom: 15px;
    }

    .auth-banner-container p {
        font-size: 28px;
        color: #5c5a5a;

    }

    .auth-banner-container svg {
        width: 90%;
        height: 90%;
        margin-top: 10px;
    }

    @media (min-width: 1400px) {
        .auth-banner-container {
            width: 450px;
        }

        .auth-banner-container h1 {
            font-size: 65px;
            margin-bottom: 25px;
        }

        .auth-banner-container p {
            font-size: 32px;
        }
    }
}