.catalog-container{
    font-size: 22px;
}

.catalog-title-container{
    margin-bottom: 20px;
}

.catalog-title-container h1{
    display: flex;
    font-size: 1.3em;
    line-height: 25px;
    color: #5c5a5a;
}

@media (min-width: 576px) {
    .catalog-container{
        font-size: 32px;
    }
    
}