.product-card {
    margin-bottom: 20px;
}

.card-top-container {
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #E1E1E1;
   
}
 img {
    width: 100px;
    height: 200px;
 }
   
.card-bottom-container {
    padding: 15px 20px 30px;
}

.card-bottom-container h6 {
    font-size: 24px;
    color: #263238;
}

@media (min-width: 576px) {
    img {
        width: 60%;
     }

}

@media (min-width: 992px) {
    img {
        width: 70%;
     }
}