.product-details-container {
    padding: 10px;
    font-size: 16px;
}

.product-details-card {
    padding: 10px;
}

.goback-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.goback-container svg {
    color: #198754;
    transform: rotate(-180deg);
    margin-left: 5px;
}

.goback-container h2 {
    margin-left: 15px;
    color: #198754;
}

.img-container {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #cecdcd;
    border-radius: 20px;
    padding: 10px;
}

.img-container img {
    width: 80%;
}

.name-price-container {
    margin-bottom: 20px;
}

.name-price-container h1 {
    font-size: 2.4em;
    
}
.name-price-container-cart img{
    margin-top: 15px;
    width: 70px;
    
}
.name-price-container-cart h2{
    color: #198754;
}

.description-container {
    border: 1px solid #cecdcd;
    border-radius: 20px;
    padding: 10px;
}

.description-container h2 {
    color: #5c5a5a;
    font-size: 2.1em;
    margin-bottom: 20px;

}

.description-container p {
    color: #797676;
    font-size: 1.9em;
    margin-bottom: 20px;


}


@media (min-width: 576px) {
    .product-details-container {
        padding: 20px;
        font-size: 20px;
    }

    .product-details-card {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .product-details-container {
        padding: 40px;
    }

    .product-details-card {
        padding: 40px;
    }

    .img-container img {
        width: 60%;
    }

    .description-container {
        padding: 40px;
    }

    .name-price-container {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .name-price-container {
        display: block;
    }
    .img-container img {
       height: 250px;
       width: auto;
    }
    .description-container {
        min-height: 270px;
    }
}

@media (min-width: 1400px) {
    .img-container img {
        height: 450px;
        width: auto;
     }
     .description-container {
         min-height: 470px;
     }
}