.category-badge-container {
    background-color: #c4c4c4;
    padding: 7px;
    border-radius: 10px;
    color: #424242;
    height: 35px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  